<div *ngIf="!_rows.length" class="text-center">
    Nothing to see
</div>

<table *ngIf="_rows.length" class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let header of _headers">
                {{ header }}
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of _rows">
            <td *ngFor="let header of _headers">
                {{ row[header] }}
            </td>
        </tr>
    </tbody>
</table>
