<div *ngIf="!_rows.length" class="text-center">
    Nothing to see
</div>

<table *ngIf="_rows.length" class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let header of _headers">
                {{ header }}
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of _rows; let index = index" (dblclick)="editRow(index)">
            <td *ngFor="let header of _headers">
                <input *ngIf="notEditable.indexOf(header) == -1" [(ngModel)]="row[header]" [readonly]="editingIndex != index" type="text" name="{{ header }}_{{ index }}" class="form-control">

                <span *ngIf="notEditable.indexOf(header) > -1">{{ row[header] }}</span>
            </td>

            <td>
                <ng-container *ngIf="editingIndex == index">
                    <div (click)="saveRow(index)" class="btn btn-success btn-xs">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                    </div>

                    <div (click)="cancelEdit()" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>
                </ng-container>

                <a *ngIf="editingIndex != index" [routerLink]="['/edit', row.id]" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
