<div id="thing-component">
    <div *ngIf="!thing">
        Thing not found
    </div>

    <form *ngIf="thing" #thingForm="ngForm" (submit)="save()">
        <h4>Edit thing: {{ thing.id }}</h4>

        <div *ngFor="let field of fields" class="form-group">
            <label>{{ field }}</label>

            <input *ngIf="notEditable.indexOf(field) == -1" [(ngModel)]="thing[field]" class="form-control" type="text" name="{{ field }}">

            <div *ngIf="notEditable.indexOf(field) > -1" class="no-input form-control">{{ thing[field] }}</div>
        </div>

        <div class="form-group">
            <a (click)="cancel()" class="btn btn-default">
                Cancel
            </a>

            <input class="btn btn-success pull-right" type="submit" value="Save">
        </div>
    </form>
</div>
