#thing-component
{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid #ccc;
    width: 500px;
    padding: 50px 15px;
    overflow-y: scroll;
    background: #fff;

    animation: slide-in 0.5s;
}

@keyframes slide-in
{
    from { right: -500px; }
    to { right: 0px; }
}
