<div style="width: 100%; height: 100px;"></div>

<div class="container">
    <div class="row">
        <div class="pos-static col-xs-12">
            <form>
                <div class="form-group">
                    <div [class.input-group]="query">
                        <input [(ngModel)]="query" (ngModelChange)="search()" type="text" name="query" class="form-control" placeholder="Search">

                        <div *ngIf="query" class="input-group-btn">
                            <div (click)="clearQuery()" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <things-table-component [headers]="['id', 'value_1', 'value_2', 'value_3', 'created_at', 'updated_at']" [rows]="thingsFiltered"></things-table-component>

            <div *ngIf="detailEditId">
                <thing-component [id]="detailEditId"></thing-component>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; height: 100px;"></div>
